= bootstrap_form_for(ingredient) do |f|
  - if ingredient.errors.any?
    #error_explanation
      %h2
        = pluralize(ingredient.errors.count, "error")
        prohibited this ingredient from being saved:

      %ul
      - ingredient.errors.full_messages.each do |message|
        %li
          = message

  = f.hidden_field :recipe_id
  = f.number_field :amount
  = f.select(:ingredient_id, grouped_options_for_select(Ingredient.by_category))

  .actions
    = f.submit "Save", class: "btn btn-primary"
    - if ingredient.persisted?
      = link_to 'Delete', ingredient, data: {:confirm => 'Are you sure?'}, method: :delete, class: "btn btn-default"
    = link_to 'Back', recipe_path(ingredient.recipe), class: "btn btn-default"
