= bootstrap_form_for(meal) do |f|
  - if meal.errors.any?
    #error_explanation
      %h2
        = pluralize(meal.errors.count, "error")
        prohibited this meal from being saved:

      %ul
      - meal.errors.full_messages.each do |message|
        %li
          = message

  = f.hidden_field :mealtime_id
  = f.number_field :amount
  = f.collection_select(:recipe_id, Recipe.all, :id, :name)

  .actions
    = f.submit "Save", class: "btn btn-primary"
    = link_to 'Back', mealtime_path(meal.mealtime), class: "btn btn-default"
