= bootstrap_form_for(recipe) do |f|
  - if recipe.errors.any?
    #error_explanation
      %h2
        = pluralize(recipe.errors.count, "error")
        prohibited this recipe from being saved:

      %ul
      - recipe.errors.full_messages.each do |message|
        %li
          = message

  = f.text_field :name
  = f.number_field :portions

  .actions
    = f.submit "Save", class: "btn btn-primary"
    - if recipe.persisted?
      = link_to 'Delete', recipe, data: {:confirm => 'Are you sure?'}, method: :delete, class: "btn btn-default"
    = link_to 'Back', recipes_path, class: "btn btn-default"

- if recipe.persisted?
  %table
    %tr
      %th
        Amount
      %th
        Unit
      %th
        Ingredient
      %th.actions

    = render partial: 'ingredient', collection: recipe.recipe_ingredients

  = link_to 'Add Ingredient', new_recipe_recipe_ingredient_path(recipe), class: "btn btn-default"
