= form_for(ingredient) do |f|
  %tr
    = f.hidden_field :recipe_id
    %td
      = f.number_field :amount
    %td
      = ingredient.ingredient.unit
    %td
      = f.select(:ingredient_id, grouped_options_for_select(Ingredient.by_category, ingredient.id))
    %td
      = f.submit "Save", class: "btn btn-primary"
      = link_to 'Delete', ingredient, data: {:confirm => 'Are you sure?'}, method: :delete, class: "btn btn-default"
