%tr
  %td
    = link_to recipe.name, recipe
  %td
    = number_with_precision(recipe.energy, precision: 0)
  %td
    = number_with_precision(recipe.carbo, precision: 1)
  %td
    = number_with_precision(recipe.protein, precision: 1)
  %td
    = number_with_precision(recipe.fat, precision: 1)
