.row
  %h1
    Recipes

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
          Name
        %th
          Energy
        %th
          Carbohydrates
        %th
          Protein
        %th
          Fat


    %tbody
      = render partial: 'recipe', collection: @recipes

  = link_to 'New Recipe', new_recipe_path, class: "btn btn-default"
