.left-sidebar-wrapper
  %a.left-sidebar-toggle{:href => "#", :title => "Dashboard"}
    Dashboard
  .left-sidebar-spacer
    .left-sidebar-scroll
      .left-sidebar-content
        %ul.sidebar-elements
          %li.divider Ingredients
          %li
            = link_to ingredients_url do
              %i.zmdi.zmdi-home
              Ingredients
