.container-fluid
  .navbar-header
    %button.navbar-toggle.collapsed{'type' => 'button', 'data-toggle' => 'collapse', 'data-target' => '#navbar-collapse', 'aria-expanded' => 'false'}
      %span.sr-only
        Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
      = link_to('Diet Mate', ingredients_url,  {:class => "navbar-brand"} )

  #navbar-collapse.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li.active
        %a{:href => "#"}
          DietMate
          %span.sr-only (current)
      %li
        = link_to "IngredientCategories", ingredient_categories_path
      %li
        = link_to "Ingredients", ingredients_path
      %li
        = link_to "Recipes", recipes_path
      %li
        = link_to "Mealtimes", mealtimes_path
      %li
        = link_to "Protocol", protocols_path
