= bootstrap_form_for(ingredient) do |f|
  - if ingredient.errors.any?
    #error_explanation
      %h2
        = pluralize(ingredient.errors.count, "error")
        prohibited this ingredient from being saved:

      %ul
      - ingredient.errors.full_messages.each do |message|
        %li
          = message

  = f.text_field :name
  = f.collection_select(:ingredient_category_id, IngredientCategory.all, :id, :name)
  = f.select(:unit, Ingredient.units.keys.map { |unit| [ unit, unit ]})

  = f.number_field :energy
  = f.number_field :protein, step: :any
  = f.number_field :carbo, step: :any
  = f.number_field :fat, step: :any

  .actions
    = f.submit "Save", class: "btn btn-primary"
    - if ingredient.persisted?
      = link_to 'Delete', ingredient, data: {:confirm => 'Are you sure?'}, method: :delete, class: "btn btn-default"
    = link_to 'Back', ingredients_path, class: "btn btn-default"
