%tr
  %td
    = link_to ingredient.name, ingredient
  %td
    - if ingredient.ingredient_category
      = ingredient.ingredient_category.name
  %td
    = ingredient.unit
  %td
    = ingredient.energy
  %td
    = ingredient.carbo
  %td
    = ingredient.protein
  %td
    = ingredient.fat
