.row
  %h1
    Ingredients

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
          Name
        %th
          Category
        %th
          Unit
        %th
          Energy
        %th
          Carbohydrates
        %th
          Protein
        %th
          Fat


    %tbody
      = render partial: 'ingredient', collection: @ingredients

  = link_to 'New Ingredient', new_ingredient_path, class: "btn btn-default"
