= bootstrap_form_for(mealtime) do |f|
  - if mealtime.errors.any?
    #error_explanation
      %h2
        = pluralize(mealtime.errors.count, "error")
        prohibited this mealtime from being saved:

      %ul
      - mealtime.errors.full_messages.each do |message|
        %li
          = message

  = f.text_field :title
  = f.date_field :date

  .actions
    = f.submit "Save", class: "btn btn-primary"
    - if mealtime.persisted?
      = link_to 'Delete', mealtime, data: {:confirm => 'Are you sure?'}, method: :delete, class: "btn btn-default"
    = link_to 'Back', mealtimes_path, class: "btn btn-default"

- if mealtime.persisted?
  %table
    %tr
      %th
        Title
      %th
        Amount
      %th
        Energy
      %th
        Carbohydrates
      %th
        Protein
      %th
        Fat
      %th.actions

    = render partial: 'meal', collection: mealtime.meals

  = link_to 'Add Recipe Meal', new_mealtime_recipe_meal_path(mealtime), class: "btn btn-default"

  = link_to 'Add Ingredient Meal', new_mealtime_ingredient_meal_path(mealtime), class: "btn btn-default"

  = link_to 'Add Custom Meal', new_mealtime_custom_meal_path(mealtime), class: "btn btn-default"
