= render partial: 'mealtime', collection: meal_section.mealtimes

%tr
  %td
    Total
  %td
  %td
    = number_with_precision(meal_section.total_energy, precision: 0)
  %td
    = number_with_precision(meal_section.total_carbo, precision: 1)
  %td
    = number_with_precision(meal_section.total_protein, precision: 1)
  %td
    = number_with_precision(meal_section.total_fat, precision: 1)
