%tr
  %td
    = link_to mealtime.title, mealtime
  %td
    = mealtime.date
  %td
    = number_with_precision(mealtime.energy, precision: 0)
  %td
    = number_with_precision(mealtime.carbo, precision: 1)
  %td
    = number_with_precision(mealtime.protein, precision: 1)
  %td
    = number_with_precision(mealtime.fat, precision: 1)
