= form_for(meal) do |f|
  %tr
    = f.hidden_field :mealtime_id
    - if meal.recipe_meal?
      %td
        = f.collection_select(:recipe_id, Recipe.all, :id, :name)
      %td
        = f.number_field :amount
    - if meal.ingredient_meal?
      %td
        = f.collection_select(:ingredient_id, Ingredient.all, :id, :name)
      %td
        = f.number_field :amount
    - if meal.custom_meal?
      %td{ colspan: 2 }
        = link_to meal.name, mealtime_custom_meal_path(meal.mealtime, meal)
    %td
      = number_with_precision(meal.energy, precision: 0)
    %td
      = number_with_precision(meal.carbo, precision: 1)
    %td
      = number_with_precision(meal.protein, precision: 1)
    %td
      = number_with_precision(meal.fat, precision: 1)
    %td
      - unless meal.custom_meal?
        = f.submit "Save", class: "btn btn-primary"
      = link_to 'Delete', meal, data: {:confirm => 'Are you sure?'}, method: :delete, class: "btn btn-default"
