.row
  %h1
    Mealtimes

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
          Title
        %th
          Date
        %th
          Energy
        %th
          Carbohydrates
        %th
          Protein
        %th
          Fat

    %tbody
      = render partial: 'meal_section', collection: @sections

  = link_to 'New Mealtime', new_mealtime_path, class: "btn btn-default"
