= bootstrap_form_for(meal) do |f|
  - if meal.errors.any?
    #error_explanation
      %h2
        = pluralize(meal.errors.count, "error")
        prohibited this meal from being saved:

      %ul
      - meal.errors.full_messages.each do |message|
        %li
          = message

  = f.hidden_field :mealtime_id
  = f.text_field :name
  = f.number_field :energy
  = f.number_field :protein, step: :any
  = f.number_field :carbo, step: :any
  = f.number_field :fat, step: :any

  .actions
    = f.submit "Save", class: "btn btn-primary"
    - if meal.persisted?
      = link_to 'Delete', custom_meal_path, data: {:confirm => 'Are you sure?'}, method: :delete, class: "btn btn-default"
    = link_to 'Back', mealtime_path(meal.mealtime), class: "btn btn-default"
