= bootstrap_form_for(category) do |f|
  - if category.errors.any?
    #error_explanation
      %h2
        = pluralize(category.errors.count, "error")
        prohibited this category from being saved:

      %ul
      - category.errors.full_messages.each do |message|
        %li
          = message

  = f.text_field :name
  = f.text_area :description
  = f.collection_select(:ingredient_ids,
                        Ingredient.category(category),
                        :id,
                        :name,
                        {selected: category.ingredients.map(&:id)},
                        {include_blank: false, multiple: true, size: 20})

  .actions
    = f.submit "Save", class: "btn btn-primary"
    - if category.persisted?
      = link_to 'Delete', category, data: {:confirm => 'Are you sure?'}, method: :delete, class: "btn btn-default"
    = link_to 'Back', ingredient_categories_path, class: "btn btn-default"
