.row
  %h1
    Categories

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
          Name
        %th
          Description

    %tbody
      = render partial: 'category', collection: @categories

  = link_to 'New Category', new_ingredient_category_path, class: "btn btn-default"
