= bootstrap_form_for(protocol) do |f|
  - if protocol.errors.any?
    #error_explanation
      %h2
        = pluralize(protocol.errors.count, "error")
        prohibited this protocol from being saved:

      %ul
      - protocol.errors.full_messages.each do |message|
        %li
          = message

  = f.text_field :date
  = f.select(:sex, WeightProtocolEntry.sexes.keys.map { |sex| [ sex.humanize, sex ]})
  = f.number_field :weight, step: 0.1
  = f.number_field :height
  = f.number_field :waist, step: 0.1
  = f.number_field :hip, step: 0.1
  = f.number_field :neck, step: 0.1

  .actions
    = f.submit "Save", class: "btn btn-primary"
    - if protocol.persisted?
      = link_to 'Delete', protocol, data: {:confirm => 'Are you sure?'}, method: :delete, class: "btn btn-default"
    = link_to 'Back', protocols_path, class: "btn btn-default"
