%tr
  %td
    = link_to protocol_entry.date, protocol_path(protocol_entry)
  %td
    = protocol_entry.sex.humanize
  %td
    = number_with_precision(protocol_entry.weight, precision: 1)
  %td
    = number_with_precision(protocol_entry.height, precision: 0)
  %td
    = number_with_precision(protocol_entry.waist, precision: 1)
  %td
    = number_with_precision(protocol_entry.hip, precision: 1)
  %td
    = number_with_precision(protocol_entry.neck, precision: 1)
  %td
    = number_with_precision(protocol_entry.bmi, precision: 1)
  %td
    = number_with_precision(protocol_entry.navy_fat, precision: 1)
    -# %
