.row
  %h1
    Protocol

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
          Date
        %th
          Sex
        %th
          Weight
        %th
          Height
        %th
          Waist
        %th
          Hip
        %th
          Neck
        %th
          BMI
        %th
          BodyFat (NavyMethod)


    %tbody
      = render partial: 'protocol_entry', collection: @weight_protocol_entries

  = link_to 'New protocol entry', new_protocol_path, class: "btn btn-default"
