!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      - if content_for?(:head_title)
        = yield(:head_title)
      - else
        Diet Mate

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = yield(:head)
  %body
    .container
      %nav.navbar.navbar-default
        = render(partial: "shared/navbar_top")
      -# .be-left-sidebar
      -#   -# Left sidebar
      -#   = render(partial: "shared/navbar_left")
      -# .be-content

      - if notice
        %p#notice
          .alert.alert-warning.alert-dismissible{:role => "alert"}
            %button.close{:type => "button", "data-dismiss" => "alert"}
              %span
                &times;
            = notice
      = content_for?(:content) ? yield(:content) : yield
